<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="bpmn2bpel.rest" sequenceNumber="32">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="${gradle_home}\caches\artifacts-14\filestore\com.sun.jersey\jersey-core\1.14\jar\693061de8b9b352b11e997b1dd4052677778852d" type="Directory"/>
<location path="${gradle_home}\caches\artifacts-14\filestore\org.apache.felix\org.apache.felix.http.jetty\2.2.0\jar\25c085c6d53d4673f2e086b9e6b8d80dc8cb2261" type="Directory"/>
<location path="${gradle_home}\caches\artifacts-14\filestore\com.sun.jersey.contribs\jersey-multipart\1.14\jar\7282dd3c2168d6eba9e5a8fdf7b591a3103c7d4b" type="Directory"/>
<location path="${gradle_home}\caches\artifacts-14\filestore\com.sun.jersey\jersey-servlet\1.14\jar\4b87041a59ee152757b62e47a21d5b63fde20ffe" type="Directory"/>
<location path="${gradle_home}\caches\artifacts-14\filestore\com.sun.jersey\jersey-server\1.14\jar\b1a21724c9b708ed54d42d41bb19ff45ae1d49d9" type="Directory"/>
</locations>
<includeBundles>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.core.databinding"/>
<plugin id="org.eclipse.ui.intro"/>
<plugin id="org.eclipse.osgi.services"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.eclipse.wst.xml.core"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.apache.batik.util"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.eclipse.emf.ecore.edit.source"/>
<plugin id="org.apache.xml.resolver"/>
<plugin id="org.eclipse.emf.ecore.xmi.source"/>
<plugin id="javax.servlet"/>
<plugin id="org.eclipse.equinox.p2.engine"/>
<plugin id="org.eclipse.e4.core.commands"/>
<plugin id="org.eclipse.core.filesystem.win32.x86"/>
<plugin id="org.eclipse.wst.sse.core"/>
<plugin id="org.eclipse.ui.forms"/>
<plugin id="org.apache.felix.gogo.runtime"/>
<plugin id="org.eclipse.e4.ui.workbench"/>
<plugin id="org.eclipse.e4.core.di.extensions"/>
<plugin id="com.sun.jersey.core"/>
<plugin id="org.eclipse.ui.workbench"/>
<plugin id="org.eclipse.jetty.continuation"/>
<plugin id="javax.xml"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.emf.ecore.source"/>
<plugin id="org.w3c.css.sac.source"/>
<plugin id="org.eclipse.equinox.p2.metadata"/>
<plugin id="org.eclipse.emf.ecore.change.source"/>
<plugin id="org.apache.batik.css"/>
<plugin id="javax.persistence"/>
<plugin id="org.eclipse.core.jobs"/>
<plugin id="org.eclipse.wst.common.frameworks"/>
<plugin id="org.eclipse.ui.win32"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.ui.ide"/>
<plugin id="org.eclipse.jetty.util"/>
<plugin id="org.eclipse.wst.common.emfworkbench.integration"/>
<plugin id="org.eclipse.core.databinding.observable"/>
<plugin id="org.eclipse.equinox.http.servlet"/>
<plugin id="org.eclipse.equinox.util"/>
<plugin id="org.eclipse.emf.common.source"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.equinox.security.win32.x86"/>
<plugin id="org.eclipse.e4.ui.workbench3"/>
<plugin id="org.apache.xerces"/>
<plugin id="org.w3c.dom.events"/>
<plugin id="com.sun.jersey.servlet"/>
<plugin id="org.apache.batik.util.source"/>
<plugin id="org.apache.batik.css.source"/>
<plugin id="javax.wsdl" version="1.5.1.v201012040544"/>
<plugin id="org.eclipse.jetty.http"/>
<plugin id="javax.mail"/>
<plugin id="org.w3c.css.sac"/>
<plugin id="org.w3c.dom.svg"/>
<plugin id="org.apache.lucene" version="2.9.1.v201101211721"/>
<plugin id="org.eclipse.m2e.logback.appender"/>
<plugin id="org.eclipse.e4.ui.bindings"/>
<plugin id="org.eclipse.e4.ui.widgets"/>
<plugin id="org.jboss.netty"/>
<plugin id="org.eclipse.m2e.model.edit"/>
<plugin id="javax.annotation"/>
<plugin id="org.eclipse.equinox.p2.repository"/>
<plugin id="org.eclipse.team.core"/>
<plugin id="org.eclipse.wst.common.emf"/>
<plugin id="org.eclipse.core.contenttype"/>
<plugin id="org.eclipse.e4.ui.css.swt.theme"/>
<plugin id="org.eclipse.wst.wsdl"/>
<plugin id="org.eclipse.equinox.common"/>
<plugin id="org.eclipse.equinox.preferences"/>
<plugin id="org.eclipse.e4.core.contexts"/>
<plugin id="org.eclipse.jetty.server"/>
<plugin id="org.eclipse.e4.ui.workbench.swt"/>
<plugin id="org.eclipse.e4.ui.di"/>
<plugin id="org.eclipse.jface"/>
<plugin id="com.sun.jersey.jersey-server"/>
<plugin id="org.slf4j.api" version="1.6.4.v20120130-2120"/>
<plugin id="org.apache.xml.serializer"/>
<plugin id="javax.inject"/>
<plugin id="com.sun.jersey.contribs.jersey-multipart" version="1.14.0"/>
<plugin id="org.objectweb.asm"/>
<plugin id="org.eclipse.equinox.ds"/>
<plugin id="com.ning.async-http-client"/>
<plugin id="org.eclipse.equinox.p2.core"/>
<plugin id="org.eclipse.equinox.http.jetty"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.core.filebuffers"/>
<plugin id="org.apache.felix.http.jetty"/>
<plugin id="org.eclipse.m2e.maven.runtime"/>
<plugin id="org.eclipse.wst.xsd.core"/>
<plugin id="org.eclipse.equinox.app"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="ch.qos.logback.classic"/>
<plugin id="org.eclipse.e4.ui.css.swt"/>
<plugin id="org.eclipse.swt.win32.win32.x86"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.w3c.dom.svg.source"/>
<plugin id="org.eclipse.wst.common.core"/>
<plugin id="org.eclipse.equinox.console"/>
<plugin id="ch.qos.logback.core"/>
<plugin id="org.apache.lucene.analysis"/>
<plugin id="javax.servlet.jsp"/>
<plugin id="org.eclipse.swt"/>
<plugin id="javax.el"/>
<plugin id="org.eclipse.emf.edit.source"/>
<plugin id="org.eclipse.m2e.maven.indexer"/>
<plugin id="org.w3c.dom.smil" version="1.0.0.v200806040011"/>
<plugin id="org.eclipse.e4.ui.css.core"/>
<plugin id="ch.qos.logback.slf4j" version="1.0.0.v20120123-1500"/>
<plugin id="org.eclipse.wst.validation"/>
<plugin id="org.eclipse.ui.workbench.texteditor"/>
<plugin id="org.eclipse.m2e.core"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.e4.core.di"/>
<plugin id="org.eclipse.ui.console"/>
<plugin id="org.eclipse.m2e.core.ui"/>
<plugin id="org.eclipse.core.runtime.compatibility.auth"/>
<plugin id="org.apache.batik.util.gui.source"/>
<plugin id="javax.activation"/>
<plugin id="org.apache.lucene" version="1.9.1.v201101211617"/>
<plugin id="org.eclipse.m2e.archetype.common"/>
<plugin id="org.eclipse.emf.ecore.edit"/>
<plugin id="org.eclipse.jetty.io"/>
<plugin id="org.eclipse.jem.util"/>
<plugin id="org.eclipse.jetty.servlet"/>
<plugin id="org.eclipse.e4.ui.model.workbench"/>
<plugin id="org.eclipse.xsd"/>
<plugin id="org.eclipse.e4.ui.workbench.renderers.swt"/>
<plugin id="org.eclipse.equinox.p2.metadata.repository"/>
<plugin id="org.eclipse.wst.common.environment"/>
<plugin id="org.eclipse.core.resources.win32.x86"/>
<plugin id="org.eclipse.osgi"/>
<plugin id="org.eclipse.core.commands"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.e4.core.services"/>
<plugin id="com.ibm.icu"/>
<plugin id="org.eclipse.help.base"/>
<plugin id="org.eclipse.compare.core"/>
<plugin id="org.w3c.dom.events.source"/>
<plugin id="org.eclipse.core.runtime"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.core.databinding.property"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.ui.views"/>
<plugin id="org.apache.batik.util.gui"/>
<plugin id="org.eclipse.core.expressions"/>
<plugin id="org.eclipse.equinox.event"/>
<plugin id="org.eclipse.ui.navigator"/>
<plugin id="org.w3c.dom.smil.source"/>
<plugin id="org.eclipse.core.runtime.compatibility.registry"/>
<plugin id="org.eclipse.jetty.security"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.apache.lucene.core"/>
<plugin id="org.w3c.dom.smil" version="1.0.1.v200903091627"/>
<plugin id="org.eclipse.wst.common.project.facet.core"/>
<plugin id="org.eclipse.wst.common.uriresolver"/>
<plugin id="org.eclipse.ui"/>
<plugin id="org.eclipse.ltk.core.refactoring"/>
<plugin id="org.eclipse.equinox.registry"/>
<plugin id="org.eclipse.e4.ui.services"/>
</includeBundles>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86</arch>
<nl>de_DE</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -Dhelp.lucene.tokenizer=standard -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
